/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #333;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

h1.cover-heading a {
  color: #333;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*
* Form
*/

form.app {
  .errors {
    color: #e33;

    ul {
      text-align: left;
      margin-bottom: 25px;
    }
  }

  textarea {
    height: 150px;
  }
}

li {
  $icon-size: 24px;

  &.vendor-apple, &.vendor-facebook, &.vendor-microsoft, &.vendor-google, &.vendor-amazon {
    height: 24px;
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-bottom: 7px;
  }

  &.vendor-apple     { background-image: image-url('vendors/apple.png'); }
  &.vendor-facebook  { background-image: image-url('vendors/facebook.png'); }
  &.vendor-microsoft { background-image: image-url('vendors/microsoft.png'); }
  &.vendor-google    { background-image: image-url('vendors/google.png'); }
  &.vendor-amazon    { background-image: image-url('vendors/amazon.png'); }
}

ul.markets {
  list-style: none outside none;
  text-align: left;
}

.app_hashid label abbr {
  display: none;
}

ul.vendors-list li img {
  max-width: 100px;
  max-height: 100px;
}
